<!DOCTYPE html>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" th:href="@{/employee_main}">ATZ Finance - Employee View</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" th:href="@{/employee_main}"> <span class="fa fa-clipboard" aria-hidden="true"></span>&nbsp;Employee View - Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}"> <span class="fa fa-user-times" aria-hidden="true"></span>&nbsp;Log-Out</a>
      </li>
    </ul>
  </div>
</nav>
