<!DOCTYPE html>

<nav class="navbar navbar-inverse" style="position: sticky; top:0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <li> <p style="align-self: center; margin-top: 10px;font-size: large; color:  ghostwhite">ATZ Finance</p></li>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a th:href="@{#}">Main</a></li>
      <li><a th:href="@{/join}"><em class="glyphicon glyphicon-user"></em>Join</a></li>
      <li><a th:href="@{/login}"><em class="glyphicon glyphicon-log-in"></em>Sign-In</a></li>

    </ul>
  </div>
</nav>


