<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<!--
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>ATZ Finance - Dashboard</title>
    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>
</head>



<body>
<div style="position:sticky; top:0 ;" th:if = "${Session} != null" th:insert="inc/Sessionheader">...</div>
<div style="position:sticky; top:0 ;" th:unless = "${Session} != null" th:insert="inc/header">...</div>

<!-- DashBoard-->
<div class="jumbotron" style="background-color: white">

    <div class="row w-100">

        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3" style="height: 250px">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-address-card-o" aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>My Info</h4></div>
                <div class="text-info text-center mt-2"><h4 style="font-size: small;text-align: left">User ID:<span th:text="${userID}" th:remove="tag"/> </h4></div>
                <div class="text-info text-center mt-2"><h4 style="font-size: small;text-align: left">Connected Bank:<span th:text="${userID}" th:remove="tag"/> </h4></div>

            </div>
        </div>


        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3" style="height: 250px">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Application In Progress</h4></div>
                <div class="text-success text-center mt-2"><h4 style="font-size: small;text-align: left">Application Status:<span th:text="${curApp}" th:remove="tag"/> </h4></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3" style="height: 250px">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-tags" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Application In Progress Details</h4></div>
                <div class="text-danger text-center mt-2"><h4 style="font-size: small;text-align: left">Application Submitted:<span th:text="${curAppDate}" th:remove="tag"/> </h4></div>
                <div class="text-danger text-center mt-2"><h4 style="font-size: small;text-align: left">Loan Type:<span th:text="${curAppType}" th:remove="tag"/> </h4></div>
                <div class="text-danger text-center mt-2"><h4 style="font-size: small;text-align: left">Loan Duration:<span th:text="${curAppDuration}" th:remove="tag"/> </h4></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3" style="height: 250px">
                <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
                <div class="text-warning text-center mt-3"><h4>Documents</h4></div>
                <div class="text-warning text-center mt-2"><h4 style="font-size: small;text-align: left">Uploaded Documents:<span th:text="${userID}" th:remove="tag"/> </h4></div>
            </div>
        </div>

    </div>
</div>

    <section class="py-5 " style="padding-left: 450px">

        <div class="container">


            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row text-center ">
                                <div class="col-md-1 mr-2">
                                    <i class="fa fa-file-text fa-2x "></i></br>
                                </div>
                                <div class="col-md-6">
                                    <h4>New Application</h4>
                                    <p style="font-size: small">personal loans, business loans, car loans, renovation loans, project loans, etc.</p>
                                </div>
                                <div class="col-md-4" style="text-align: center;padding-top: 20px">
                                        <button type="button" class="btn btn-outline-success btn-lg btn-block"><a th:href="@{/newLoan}">New Application</a></button>
                                        <small>Home Loans are excluded*</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row text-center ">
                                <div class="col-md-1 mr-2">
                                    <i class="fa fa-upload fa-2x "></i></br>
                                </div>
                                <div class="col-md-6">
                                    <h4>Upload Documents</h4>
                                    <p style="font-size: small">Uploads Documents For The Loan Applications.</p>
                                </div>
                                <div class="col-md-4" style="text-align: center;padding-top: 10px">
                                    <button type="button" class="btn btn-outline-success btn-lg btn-block">Upload Document</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row text-center ">
                                <div class="col-md-1 mr-2">
                                    <i class="fa fa-user-circle-o fa-2x "></i></br>
                                </div>
                                <div class="col-md-6">
                                    <h4>Edit Account Info</h4>
                                    <p style="font-size: small">Change Password, Edit Account Info, etc.</p>
                                </div>
                                <div class="col-md-4" style="text-align: center;padding-top: 10px">
                                    <button type="button" class="btn btn-outline-success btn-lg btn-block">My Account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>




</body>
</html>