<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<!--
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>ATZ Finance - Dashboard</title>
    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>
</head>



<body>
<div style="position:sticky; top:0 ;" th:if = "${Session} != null" th:insert="inc/Sessionheader">...</div>
<div style="position:sticky; top:0 ;" th:unless = "${Session} != null" th:insert="inc/header">...</div>

<!-- DashBoard-->
<div class="jumbotron" style="background-color: white">

    <div class="row w-100">

        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h4 class="display-4 text">Hello, <span th:text="${userFirstName}" th:remove="tag"/></h4>
                    <p class="text mt-0 mb-5">Welcome to your account dashboard. You can manage your contact information, view loan applications, and create new applications.</p>
                </div>
            </div>
        </div>
    </div>

        <div class="card border-info mx-sm-1 p-3" style="height: 250px">
            <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-address-card-o" aria-hidden="true"></span></div>
            <div class="text-info text-left mt-3"><h4>My Info</h4></div>
            <div class="text-info text-center mt-2"><h4 style="font-size: small;text-align: left; color: crimson">User ID: <span th:text="${Session}" th:remove="tag"/> </h4></div>
            <div class="text-info text-center mt-2"><h4 style="font-size: small;text-align: left">Name: <span th:text="${userName}" th:remove="tag"/> </h4></div>
            <div class="text-info text-center mt-2"><h4 style="font-size: small;text-align: left">Customer Number: <span th:text="${userNum}" th:remove="tag"/> </h4></div>
            <div class="text-info text-center mt-2"><h4 style="font-size: small;text-align: left">Email: <span th:text="${userEmail}" th:remove="tag"/> </h4></div>
            <div class="text-info text-center mt-2"><h4 style="font-size: small;text-align: left">Phone Number: <span th:text="${userPhone}" th:remove="tag"/> </h4></div>

        </div>

        <div class="text-danger text-center mt-3"><h4>Submitted Applications</h4></div>
        <table border="1" class="table table-hover table-condensed table-responsive-md">
            <thread>
                <tr>
                    <th>Application Type</th>
                    <th>Application Status</th>
                    <th>Date Submitted</th>
                </tr>
            </thread>
            <tbody>
            <tr>
            <tr th:each="loan : ${listLoans}">
                <td th:text="${loan.loanType}"></td>
                <td th:text="${loan.status}"</td>
                <td th:text="${loan.appDate}"></td>
            </tr>
            </tr>
            </tbody>
        </table>
        </div>
        </div>

    </div>
</div>

    <section class="py-5 " style="padding-left: 450px">

        <div class="container">


            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row text-center ">
                                <div class="col-md-1 mr-2">
                                    <i class="fa fa-file-text fa-2x "></i></br>
                                </div>
                                <div class="col-md-6">
                                    <h4>New Application</h4>
                                    <p style="font-size: small">personal loans, business loans, car loans, renovation loans, project loans, etc.</p>
                                </div>
                                <div class="col-md-4" style="text-align: center;padding-top: 20px">
                                        <button type="button" class="btn btn-outline-success btn-lg btn-block"><a th:href="@{/loanApp}">New Application</a></button>
                                        <small>Home Loans are excluded*</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row text-center ">
                                <div class="col-md-1 mr-2">
                                    <i class="fa fa-user-circle-o fa-2x "></i></br>
                                </div>
                                <div class="col-md-6">
                                    <h4>Edit Account Info</h4>
                                    <p style="font-size: small">Change Password, Edit Account Info, etc.</p>
                                </div>
                                <div class="col-md-4" style="text-align: center;padding-top: 10px">
                                    <button type="button" class="btn btn-outline-success btn-lg btn-block">My Account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

<input th:type="hidden" th:value="${submit}" th:id="submit" th:name="submit">

<script>
    const a ="submit";
    if (document.getElementById("submit").value === a){
        alert("Application Submitted!")
        document.getElementById("submit").value = "used";
    }
</script>


</body>
</html>