<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!--
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>ATZ Finance - Employee Page</title>
    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>
</head>



<body>
<div style="position:sticky; top:0 ;" th:if = "${Session} != null" th:insert="inc/EmpHeader">...</div>
<div style="position:sticky; top:0 ;" th:unless = "${Session} != null" th:insert="inc/header">...</div>

<!-- DashBoard-->


<section class="py-5 " style="padding-left: 450px">

    <div class="container">


        <div class="row mb-3">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row text-center ">
                            <div class="col-md-1 mr-2">
                                <i class="fa fa-file-text fa-2x "></i></br>
                            </div>
                            <div class="col-md-6">
                                <h4>View New Applications</h4>
                                <p style="font-size: small">View new application that is waiting for the screening</p>
                            </div>
                            <div class="col-md-4" style="text-align: center;padding-top: 20px">
                                <form name="frm" th:action="@{/newapplist}" th:method="POST">
                                    <input th:type="hidden" th:id="pageNo" th:name="pageNo" th:value="1">
                                    <input th:type="hidden" th:id="sortField" th:name="sortField" th:value="'appDate'">
                                    <input th:type="hidden" th:id="sortDir" th:name="sortDir" th:value="'DESC'">

                                </form>

                                <button type="button" class="btn btn-outline-success btn-lg btn-block"><a href="#" onClick="javascript:document.frm.submit();">New Applications</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row text-center ">
                            <div class="col-md-1 mr-2">
                                <i class="fa fa-user-circle-o fa-2x "></i></br>
                            </div>
                            <div class="col-md-6">
                                <h4>View Customer Info </h4>
                            </div>
                            <div class="col-md-4" style="text-align: center;padding-top: 10px">
                                <button type="button" class="btn btn-outline-success btn-lg btn-block"> View Customer Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row text-center ">
                            <div class="col-md-1 mr-2">
                                <i class="fa fa-trash-o  fa-2x "></i></br>
                            </div>
                            <div class="col-md-6">
                                <h4>View Rejected Applications</h4>
                                <p style="font-size: small">View past applications that is rejected</p>
                            </div>
                            <div class="col-md-4" style="text-align: center;padding-top: 10px">
                                <button type="button" class="btn btn-outline-success btn-lg btn-block">Rejected Application</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



</body>
</html>