<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!--
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>ATZ Finance - Application Screen</title>
</head>
<body>
<body>
<div style="position:sticky; top:0 ;" th:if = "${Session} != null" th:insert="inc/EmpHeader">...</div>
<div style="position:sticky; top:0 ;" th:unless = "${Session} != null" th:insert="inc/header">...</div>




<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">New Applications</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr>
                            <th>Application Number</th>
                            <th>Customer ID</th>
                            <th>Loan type</th>
                            <th>Applied Date</th>
                            <th>View Detail</th>
                            <th>Application Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="loan : ${LoanList}">
                            <td th:text="${loan.loanNum}">1</td>
                            <td th:text="${loan.cusID}">3</td>
                            <td th:text="${loan.loanType}">4</td>
                            <td th:text="${loan.appDate}">2</td>
                            <td th:text="${loan.status}">2</td>
                            <td> <a th:href="@{/employee_app_detail_con/{loanNum} (loanNum =${loan.loanNum}) } " class="btn "><span class="fa fa-list-ul" aria-hidden="true"></span>&nbsp;View</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>