<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <title>ATZ Finance</title>
</head>
<body>

<!-- navigation bar-->
<nav class="navbar navbar-inverse" style="position: sticky; top:0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <li> <p style="align-self: center; margin-top: 10px;font-size: large; color:  ghostwhite">ATZ Finance</p></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Main</a></li>
            <li><a href="/join"><em class="glyphicon glyphicon-user"></em>Join</a></li>
            <li><a href="/login"><em class="glyphicon glyphicon-log-in"></em>Sing-In</a></li>
        </ul>
    </div>
</nav>
<!-- main Content-->
<div class="container" style="margin-top: 150px; text-align: center;background-color: darkgrey">
    <h1 style="color: black;">Welcome to the ATZ Finance</h1><br>
    <span style="font-size: larger; color: black; ">
        ATZ Finance has 15 offices in the South, Midwest, and Northeast regions of United States.<br>
        Customers who want to borrow money for various reasons are welcome to submit online loan applications.<br>
        The type of loans provided by ATZ Finance include personal loans, business loans, car loans, renovation loans, project loans, etc.<br>
        Home loans are excluded.<br>
        Once submitted the online application goes through a loan evaluation process and the outcome may be approved or not approved.<br><br><br>
    </span>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>

<!--footer -->
<footer class="site-footer" style="position: fixed;bottom: 30px; left: 650px ">
    <div class="container">
                <p class="text-justify">Made By:<br>
                    Alexa Mclnvaille,   Amirhamzah Waseem Chaudhry,    Jihun Suk,  Othman Adebayo Gbadamassi</p>
            </div>
    <div class="container">

                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                    <span>IST412 - Group 6</span>.
                </p>
        </div>
</footer>



</body>
</html>
