<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>ATZ Finance</title>
</head>
<body>

<!-- navigation bar-->
<div style="position:sticky; top:0 ;" th:if = "${Session} != null" th:insert="inc/Sessionheader">...</div>
<div style="position:sticky; top:0 ;" th:unless = "${Session} != null" th:insert="inc/header">...</div>
<!-- main Content-->
<div class="container" style="margin-top: 150px; text-align: center;background-color: darkgrey">
    <h1 style="color: black;">Welcome to the ATZ Finance</h1><br>
    <span style="font-size: larger; color: black; " id="Here">
        ATZ Finance has 15 offices in the South, Midwest, and Northeast regions of United States.<br>
        Customers who want to borrow money for various reasons are welcome to submit online loan applications.<br>
        The type of loans provided by ATZ Finance include personal loans, business loans, car loans, renovation loans, project loans, etc.<br>
        Home loans are excluded.<br>
        Once submitted the online application goes through a loan evaluation process and the outcome may be approved or not approved.<br><br><br>
    </span>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>

<!--footer -->
<footer class="site-footer" style="position: fixed;bottom: 30px; left: 650px ">
    <div class="container">
                <p class="text-justify">Made By:<br>
                    Alexa Mclnvaille,   Amirhamzah Waseem Chaudhry,    Jihun Suk,  Othman Adebayo Gbadamassi</p>
            </div>
    <div class="container">

                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                    <span>IST412 - Group 6</span>.
                </p>
        </div>
</footer>



</body>
</html>
