<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <title>ATZ Finance - Login Form</title>
    <style>
        table, td {
            text-align: left;
        }
        td {
            padding: 25px;
            text-align: center;
        }
        table{

            width: 100%;
            text-align: center;


        }
        input{
            width: 500px;
            height: 35px;
            text-align: center;

        }
    </style>
</head>
<body>

<!-- navigation bar-->
<nav class="navbar navbar-inverse" style="position: sticky; top:0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <li> <p style="align-self: center; margin-top: 10px;font-size: large; color:  ghostwhite">ATZ Finance</p></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/home}">Main</a></li>
            <li><a th:href="@{/join}"><em class="glyphicon glyphicon-user" aria-disabled="true"></em>Join</a></li>
            <li><a th:href="@{/login}"><em class="glyphicon glyphicon-log-in"></em>Sign-In</a></li>
        </ul>
    </div>
</nav>
<!-- main Content-->
<div class="container" style="margin-top: 10px; text-align: center;background-color: darkgrey">
    <h1 style="color: black;">Login</h1><br>

    <table>
        <form id="login_form" name="login_form" th:action="@{/loginAut}"  th:method="POST" style="padding-top: 50px">

            <tr>
                <td>
                    <label for = "userId">ID:<br>
                        <input type="text" id="userId" name="userId" required>
                    </label>
                </td>
            </tr>

            <tr>
                <td>
                    <label for = "userPassword">Password:<br>
                        <input type="password" id="userPassword" name="userPassword" required>
                    </label>
                </td>
            </tr>
        </form>
    </table>
    <button form="login_form" type="submit" style="width: 250px; height: 50px">Login</button>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br>

<!--footer -->
<footer class="site-footer" style="position: relative;bottom: 30px; left: 250px ">
    <div class="container">
        <p class="text-justify">Made By:<br>
            Alexa Mclnvaille,   Amirhamzah Waseem Chaudhry,    Jihun Suk,  Othman Adebayo Gbadamassi</p>
    </div>
    <div class="container">

        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
            <span>IST412 - Group 6</span>.
        </p>
    </div>
</footer>
<script type="text/javascript">


</script>


</body>
</html>
